<div class="container pb-5" style="overflow: hidden;">
  <div class="text-center p-3 bg-secondary rounded-top text-white" style="font-size: 20px;">
    Blog Application
  </div>

  <nav class="navbar navbar-expand-md  text-dark rounded-bottom" style="background-color: #AFB0AC;overflow: hidden;">
    <!-- Brand -->
    <a class="navbar-brand" [routerLink]="['/home']"><button class="btn btn-info">Home</button></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse d-flex justify-content-end pr-3" id="collapsibleNavbar" style="overflow: hidden;">
      <ul class="navbar-nav">
       
        <li class="nav-item">
          <a class="nav-link" [routerLink] ="['/create']"><button class="btn btn-info">Create</button></a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<!--  when the browser URL for this application becomes /home
the router matches that URL to the route path /home and displays the Home page after a RouterOutlet -->
<router-outlet></router-outlet>

<!-- The path, for ex: home component will be displayed below the router-outlet. -->